marketinfo/marketinfo/__pycache__/*
bhavcopyapp/bhavcopyapp/__pycache__/*
bhavcopyapp/bhavcopyapp/migrations/__pycache__/*
config.log
.gitignore.swp
static/
marketinfo/media/*.csv
marketinfo/__pycache__/