<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
        <title>
          MarketInfo
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    </head>
    <body>
      <!-- {% if messages %}
<ul class="messages">
    {% for msg in messages %}       
  
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
   
    {% endfor %}
</ul>

{% endif %} -->
<!-- <div style="background:url("/media/BeFunky-collage2.jpg")  height: 100%;" class="page-holder bg-cover" ></div> -->

<style>
  body,html{
    height: 100%;
      };
</style>
</div>
{% block content %}
{% endblock %}
  </body>
</html>


