{%extends 'header.html' %}
{% block content %}

{% load static %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
       <div style="text-align:center">
           <h1 style="margin-top:100px;font-size:200px">4<img src="/static/bhavcopy/doge.jpg" height="150px" width="150px" style="border-radius: 25px;">4</h1>
           <h1 style="font-size:40px;color:#007bff">{{ stock_name }} <span style="color:black">Not</span> Found</h1>
           
        </div>
    </div>
      </div>
           
</div>

{% endblock %}